.navbar-brand {
	color:white;
}

.nav-link {
color:white;
}

.audio-container {
	text-align: center;
}

.carousel-inner
{
	height: 400px;
}
.d-block
{
	height: 350px;
}

.carousel-control-prev
{
	height: 400px;
}
.carousel-control-next
{
	height: 400px;
	width: 75px;
}

#product
{
	text-align: center;
}

#product .prod-container
{
	width:23%;
	min-width: 250px;
	padding: 10px 12px;
	border:1px solid #cce7d0;
}

#product .prod
{
	width:100%;
	border-radius: 20px;
	
}

.image {	
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.rounded-circle {
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin-left: 50px;
	margin-right: 50px;
}

.mns img {
	height: 500px;
	width: 500px;
}

.wmns img {
	height: 600px;
	width: 1000px;
}